<div class="container">
  <form action="/game/search-result" method="post">
    <div class="form-group">
      <label for="score">Search for words of this minimum score:</label>
      <input type="number" name="score" id="score">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>